.CatsCardsContainer {
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Input {
  padding: 8px;
  border-radius: 8px;
}

.CatsList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 28px;
  padding: 24px;
}
